.active_slider_{
    opacity: 1;
}
.active_menu_{
    color: #000 !important;
}
.active_menu_back{
    background-color: #fff;
}
.active_tab{
    color: #000;
}
.active_layout_control{
    position: fixed;
    top: 0;
}
.active_add_item{
    opacity: 1;
    z-index: 9;
}
.ds_none{
    display: none;
}
.ds_bl{
    display: block !important;
}